# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
dump.rdb

# NPM packages folder.
node_modules/
npm-debug.log

# other directories
tmp/
.vagrant
#server/
.tmp/
.build/
.test/

#*bak/
#*bak
#app/components/
#src/vendors
#vendors/
#dist/

